body {
	margin: 0;
}

.container {
	padding-left: 0; 
	padding-right: 0;
}

.bs-cont {
	background-color: gold;
	height: 100vh;
}

.bs-col {
		height: 100vh;
}

.row {
	height: 100%;
}

/*.bs-col:nth-child(odd) {
	background-color: bisque;
}

.bs-col:nth-child(even) {
	background-color: coral;
}*/

.sidebar-1 {
	background-color: bisque;
}

.main {
	background-color: coral;
}

.sidebar-2 {
	background-color: burlywood;
}

@media (max-width: 992px) {
  .sidebar-1, .main {
  	height: 80vh;
  }

  .sidebar-2 {
  	height: 20vh;
  }
}

@media (max-width: 768px) {
  .sidebar-1 {
  	height: 20vh;
  }

  .main {
  	height: 60vh;
  }

  .sidebar-2 {
  	height: 20vh;
  }
}